.checkout_button {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.checkout_li {
  list-style: none;
}
.checkout_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout__right {
  float: right;
}
