.checkout {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #eee;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

.checkout__left {
  width: 100%;
}

.checkout__right {
  position: sticky;
  top: 1rem;
}

.checkout__title {
  padding: 10px;
  border-bottom: 1px solid lightgray;
<<<<<<< HEAD
  background: linear-gradient(45deg, #bce55c, #e5d85c);
=======
  background-color: #333;
>>>>>>> 6c2d7c67d0ac068d5bf0a21c5c24b561fa05e13d
  width: 100%;
  color: #fff;
  border-radius: 10px;
}
h3 {
  padding: 0 30px;
}
