@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container1 {
  width: 100%;

  margin: 0 auto;
}

.container1 .wrapper {
  padding: 0 48px;
}
.container1 .wrapper .home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container1 .wrapper .home p {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}
.container1 .wrapper .home h5 {
  margin-top: 260px;
  font-size: 24px;
  font-weight: 600;
  padding-right: 360px;
}

header {
  height: 100px;
}
header .inner-header {
  position: relative;
  z-index: -10;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-header .logo a {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #191919;
  position: fixed;
}
header .inner-header .menu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  mix-blend-mode: difference;
  position: fixed;
}
header .hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}
header .hamburger-menu .menu-secondary-background-color {
  background: #ffb755;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .hamburger-menu .menu-layer {
  position: relative;
  background: url(./images/pomegranate_main.jpg);
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  25% {
    background-position: -930px 0px;
  }
  50% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -930px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}

header .hamburger-menu .menu-layer .menu-city-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
header .hamburger-menu .menu-layer .wrapper {
  position: relative;
}
header .hamburger-menu .menu-layer .wrapper .menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hamburger-menu .menu-layer .wrapper .menu-links nav {
  display: block;
  width: 50%;
}
header .hamburger-menu .menu-layer .wrapper .menu-links nav ul {
  margin: 0;
  padding: 0;
}
header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
  list-style: none;
  font-size: 6vw;
  font-weight: 700;
  height: 135px;

  position: relative;
}
header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
  position: absolute;
  color: #ffb755;
  text-shadow: 1px 1px 2px #333;
  text-decoration: none;
}
header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a:hover {
  color: #eb7d7a;
}
header .hamburger-menu .menu-layer .wrapper .menu-links .info {
  color: #000;
  width: 20%;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}
header .hamburger-menu .menu-layer .wrapper .menu-links .info h3 {
  font-size: 1.2rem;
  margin: 0 auto;
}
header .hamburger-menu .menu-layer .wrapper .menu-links .info p {
  margin: 0 auto;
  font-size: 0.8rem;
}
header .hamburger-menu .menu-layer .wrapper .locations {
  color: #ffb755;
  text-shadow: 1px 1px 2px #333;
  font-size: 2rem;
  font-weight: 1000;
}
header .hamburger-menu .menu-layer .wrapper .locations span {
  cursor: pointer;
  font-weight: 800;
  margin: 0 32px;
  transition: 0.3s ease-in-out;
}
header .hamburger-menu .menu-layer .wrapper .locations span:first-child {
  margin-left: 64px;
}
header .hamburger-menu .menu-layer .wrapper .locations span:hover {
  color: #ffb755;
  text-shadow: 1px 1px 2px #333;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 24px;
  border-radius: 4px;
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@media screen and (max-height: 1000px) {
  header .hamburger-menu .menu-layer .wrapper .locations {
    color: #ffb755;
    text-shadow: 1px 1px 2px #333;
    font-size: 2vw;
    font-weight: 1000;
  }
}
@media screen and (max-width: 900px) {
  header .hamburger-menu .menu-layer .wrapper .locations {
    color: #ffb755;
    text-shadow: 1px 1px 2px #333;
    font-size: 2vw;
    font-weight: 1000;
  }
}
