.detail_img{
    width: 1000px;
    flex-direction: column;
    justify-content: center;
}

@media all and (max-width: 768px){
    .detail_img{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .button_box {
        text-align: center;
      }
}


@media all and (max-width: 414px){
    .detail_img{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .button_box {
        text-align: center;
      }
}

@media all and (max-width: 280px){
    .detail_img{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .button_box {
        text-align: center;
      }
}