.modal{
    width: 180px;
    height: 100px;
    border: solid 2px rgb(49, 209, 49);
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
}

.modal_content{
    margin: 0 auto;
    margin-top: 10px;
}

.modal button {
    margin-left: 20px;
}

.modalButton{
    border: none;
    border-radius: 20px;
    width:130px;
    height: 30px;
    background-color: greenyellow;
    cursor: pointer;
}