* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product2 {
  width: 300px;
  height: 370px;
  min-width: 200px;
  margin: 10px 0;
  padding: 10px 10px;
}
.product2__name {
  cursor: pointer;
  margin: 0;
}

.product2__status {
  color: orangered;
  width: 70px;
  height: 25px;

  background-color: rgba(251, 115, 185, 0.2);
}

.price_status strong {
  margin-right: 10px;
}
.product2__status {
  border-radius: 5px;
  border: none;
  width: 100px;
}
.product2__info {
  cursor: pointer;
  position: relative;
  bottom: 10px;
}
.product2__img {
  height: 200px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.product2__info {
  height: 50px;
}

.product2__cartIcon {
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.icons1 {
  margin-right: 7px;
}

.product2__price small {
  font-size: 12px;
  color: #777;
}
