.QnA__header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  padding-bottom: 20px;
}

.question__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px;
}

.question__list_user {
  flex: 1;
  flex-direction: row;
  background-color:  rgba(230, 125, 122, 1);
  font-size: 17px;
}

.question__list_user_ {
  font-weight: bold;
}

.question__list_content {
  flex: 1;
  margin-top:20px;
}

.question__list_date {
  flex: 1;
  margin-left: 50px;
  text-align: right;
}
.QnA__button {
  background-color: rgba(230, 125, 122, 0.3);
  border: 1px solid rgba(230, 125, 122, 0.7);
  padding: 2px 5px;
}

@media all and (max-width: 768px) {

  .question__list_user {
    flex: 1;
    flex-direction: row;
    background-color:  rgba(230, 125, 122, 1);
    font-size: 15px;
  }
}

@media all and (max-width: 414px) {

  .question__list_user {
    flex: 1;
    flex-direction: row;
    background-color:  rgba(230, 125, 122, 1);
    font-size: 15px;
  }
}


@media all and (max-width: 280px) {

  .question__list_user {
    flex: 1;
    flex-direction: row;
    background-color:  rgba(230, 125, 122, 1);
    font-size: 15px;
  }
}