
.QnA_form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-top : 100px;
  }
  
  .QnA_form > label {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 15px;
  }
  
  #QnA_form__input {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    background-color: white;
  }

  .QnA_form__button{
      margin: 0 auto;
      margin-top: 15px;
  }

  .QnA_form__button > button{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgba(230, 125, 122, 0.7);
    cursor: pointer;
    margin-bottom: 100px;
  }
