.review__score {
  display: flex;
  border-bottom: 0.5px solid black;
}

.review__score_avg {
  flex: 1;
  flex-direction: column;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}

.review__score_list {
  flex: 1;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

.review__score_list li {
  list-style-type: none;
  width: 30px;
}

.review__button_ {
  text-align: center;
  margin-left: 70px;
}

.review__button {
  flex: 1;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  background: rgba(230, 125, 122, 0.7);
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.star_select {
  width: 180px;
}

.review__score_graph_number {
  width: 30px;
}

.review__score_graph {
  flex: 1;
  width: 100%;
}

.review__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

.review__list_user {
  flex: 1;
  font-weight: bold;
  font-size: 17px;
  background-color:rgba(230, 125, 122, 1);
}

.review__list_content_container {
  display: flex;
  flex-direction: row;
}

.review__list_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.review__list_content img {
  width: 150px;
  height: 100px;
}

.review__list_date {
  flex: 1;
  text-align: right;
}

.review__update_button_container{
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

.review__update_button{
  width: 180px;
  height: 50px;
  background-color: rgba(230, 125, 122, 0.7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media all and (max-width:414px) {
  .review{
    width: 100%;
  }
  .review__score {
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid black;
  }

  .review__button_ {
    text-align: center;
    margin: 0px;
  }

  .review__button {
    flex: 1;
    width: 80px;
    height: 50px;
    margin: 0;
    background: rgba(230, 125, 122, 0.7);
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }

  .review__update_button{
    width: 75px;
    height: 50px;
    background-color: rgba(230, 125, 122, 0.7);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .review__list_user {
    flex: 1 1;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(230, 125, 122, 1);
  }
}
