* {
  margin: auto 0;
}

.ReviewForm {
  background-color: #f3f3f3;
}

.ReviewForm__review_form {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.ReviewForm__review_form > label {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.ReviewForm__stars_score {
  text-align: center;
}

#ReviewForm__input {
  height: 300px;
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border: none;
}

.ReviewForm__file_upload {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ReviewForm__file_upload {
  border: none;
}

.ReviewForm__button > button {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: rgba(230, 125, 122, 0.7);
  cursor: pointer;
  margin-bottom: 100px;
}

.ReviewForm__button{
  text-align: center;
}
