*{
    margin: auto 0;
}

.ReviewUpdateForm{
    background-color: #f3f3f3;
}

.review_update_form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  
  .review_update_form > label {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 15px;
  }
  
  #ReviewUpdateForm__input {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    border: none;
  }

  .ReviewUpdateForm__file_upload{
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  #ReviewUpdateForm__file_upload{
      border: none;
  }

  .ReviewUpdateForm__button {
    text-align: center;
    margin-bottom: 50px;
  }

  .ReviewUpdateForm__reviewPatchSubmit {
      width: 200px;
      height: 60px;
      border-radius: 50px;
      border: none;
      background-color: rgba(230, 125, 122, 0.7);
      cursor: pointer;
      margin: 0 auto;
  }

  .ReviewUpdateForm__reviewDelete {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgba(230, 125, 122, 0.7);
    cursor: pointer;
    margin: 0 auto;
}
