body {
  margin: 0;
  padding: 0;
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #476600;
}

.login_container {
  width: 450px;
  height: 55vh;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto;
  border: 10px solid;
  border-image: linear-gradient(45deg, #f2cb61, #bce55c);
  border-image-slice: 1;
  background-color: #fff;
  color: #476600;
}

.login_container > button {
  width: 100px;
  height: 30px;
  margin-left: 165px;
  margin-top: 90px;
  border: 1px dotted #6b9900;
  background: #e4f7ba;
}

.login_container_head h1 {
  color: #6b9900;
}

.login_container_head {
  padding-left: 36px;
  padding-top: 20px;
}

.login_search {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
  height: 200px;
  background: #fff;
}

.login_search p {
  margin-left: 80px;
  color: red;
}

.login_search input {
  height: 30px;
  width: 200px;
  background: linear-gradient(45deg, #faf4c0, #e4f7ba);
  border: 1px dotted #6b9900;
}

.login_id {
  display: flex;
  margin: 0 0 40px 40px;
}

.login_id > label {
  margin-right: 70px;
  color: #333;
}

.login_password {
  display: flex;
  margin-left: 40px;
  margin-bottom: 20px;
}

.login_password > label {
  margin-right: 9px;
  color: #333;
}
@media all and (max-width: 414px) {
  .login_container {
    width: 400px;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto;
    background-color: #fff;
    color: #333;
    border: none;
  }
  .login {
    width: 86%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #333;
  }
  .login_container_head {
    text-align: center;
    color: #333;
  }
  .login_container_head h1 {
    color: #777;
  }
  .login_search input {
    height: 30px;
    width: 200px;
    background-image: linear-gradient(
      to right,
      rgba(255, 183, 85, 0.3) 0%,
      rgba(251, 115, 185, 0.2) 100%
    );
    border: 1px dotted #333;
    padding-left: 10px;
  }
  .login_container .Loginbutton {
    width: 100px;
    height: 30px;
    margin-left: 165px;
    margin-top: 90px;
    border: 1px dotted #aaa;
    background: #ffb755;
    color: #333;
    font-weight: 1000;
  }
}
