.orderDetails {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* background-image: linear-gradient(to right, #faf4c0 0%, #f1d9f5 100%); */
}

.order__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr;
  background-color: #fff;
  color: #333;
}

p {
  margin: 10px 0;
  font-weight: 600;
  color: #333;
}

.orderDetails__info td,
.orderDetails__price td {
  background-color: #fff;
}
.orderDetails__info,
.orderDetails__price {
  font-size: 13px;
  color: #333;
  border: none;
  width: 1200px;
}

.orderDetails_table {
  margin-top: 40px;
  width: 1200px;
}
.orderDetails__price {
  margin-bottom: 100px;
}

.orderDetails_title {
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  height: 50px;
  color: #e6b797;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 50px 0 10px 0;
}
@media all and (max-width: 414px) {
  .orderDetails {
    width: 360px;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* background-image: linear-gradient(to right, #faf4c0 0%, #f1d9f5 100%); */
  }

  .orderDetails_table {
    width: 360px;
  }

  .orders_bg {
    width: 100%;

    background-color: #fff;
    color: #333;
    margin-bottom: 100px;
    margin-top: 30px;
  }
  .orders__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
  }
  .orders__table {
    margin-top: 50px;
  }
  .orderDetails__info,
  .orderDetails__price {
    font-size: 12px;
    color: #333;
    border: none;
    width: 100%;
  }
  .orderDetails {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* background-image: linear-gradient(to right, #faf4c0 0%, #f1d9f5 100%); */
  }
}
