@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.orders_bg {
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #333;
  align-items: center;
}

.orders__container {
  /* background: rgb(182, 167, 167); */
  width: 100%;
  padding-top: 70px;
  background-color: #fff;
  color: #333;
}

.orders__input {
  height: 30px;
  width: 300px;
  padding-left: 5px;
  border: 1px solid #555;
}
.orders__category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders__category_p {
  color: #333;
  font-family: "MaruBuri-Regular";
}

.orders_date {
  height: 30px;
  padding-left: 5px;
  margin: 0 5px 0 30px;
  border: 1px solid #555;
}

.orders__search {
  width: 100%;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.search-icon {
  font-size: 25px;
}
.orders__form {
  display: flex;
  padding: 0 30px;
}
.orders__searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orders__category {
  display: flex;
}

.orders__button {
  display: flex;
  margin-left: 30px;
  align-items: center;

  /* background: blue; */
}

.orders__search-button {
  margin-right: 10px;
  width: 100px;
  height: 30px;
  color: white;
  background: #000;
  border: 1px solid #333;
  font-family: "MaruBuri-Regular";
}

.orders__reset-button {
  width: 20px;
  height: 20px;
  background: #000;
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 10;
  position: relative;
  right: 60px;
  color: #fff;
}

.orders__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: purple; */
  margin-left: 36px;
  margin-right: 36px;
  color: #333;
  font-family: "MaruBuri-Regular";
  margin: 20px 0;
}

.orders__info h2 {
  font-family: "MaruBuri-Regular";
  margin-top: 40px;
}
.orders__table,
.order_table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  width: 90%;
}
@media all and (max-width: 414px) {
  .orders_bg {
    width: 100%;
    background-color: #fff;
    color: #333;
  }
  .orders__container {
    width: 100%;
  }
  .orders__search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
  }
  .orders__input {
    height: 30px;
    width: 150px;
  }
  .orders__searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .orders__category {
    display: none;
  }
  .orders__table {
    width: 95%;
  }

  .orders_bg {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #333;
  }

  .orders__container {
    /* background: rgb(182, 167, 167); */
    width: 100%;
    padding-top: 70px;
    background-color: #fff;
    color: #333;
  }

  .orders__input {
    height: 30px;
    width: 300px;
    padding-left: 5px;
  }
  .orders__category {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .orders__category_p {
    color: #333;
    font-family: "MaruBuri-Regular";
  }

  .orders_date {
    height: 30px;
    padding-left: 5px;
    margin: 0 5px 0 30px;
  }

  .orders__search {
    width: 100%;
    color: #333;
  }
  .search-icon {
    font-size: 25px;
  }
  .orders__form {
    display: flex;
    padding: 0 30px;
  }
  .orders__searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orders__category {
    display: none;
  }

  .orders__button {
    display: flex;
    margin-left: 30px;
    align-items: center;

    /* background: blue; */
  }

  .orders__search-button {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    color: white;
    background: #000;
    border: 1px solid #333;
    font-family: "MaruBuri-Regular";
  }

  .orders__reset-button {
    width: 20px;
    height: 20px;
    background: #000;
    border: 1px solid #777;
    border-radius: 5px;
    z-index: 10;
    position: relative;
    right: 50px;
    color: #fff;
  }

  .orders__info {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: purple; */
    margin-left: 36px;
    margin-right: 36px;
    color: #333;
    font-family: "MaruBuri-Regular";
  }

  .orders__info h2 {
    font-family: "MaruBuri-Regular";
    margin-top: 40px;
  }
}
