@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #333;
}

.profile__container {
  margin-top: 100px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__container__head h1 {
  color: #333;
  font-family: "MaruBuri-Regular";
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.profile__container__head {
  padding-left: 36px;
  padding-top: 20px;
}
.profile__container__head p {
  color: #333;
}
.profile__search {
  margin-left: 20px;
  background: #fff;
  display: grid;
  grid-template-columns: 160px 250px;
  grid-template-rows: 70px 70px 70px 70px;
  font-size: 12px;
}

.profile__search p {
  color: #333;
}

.profile__id {
  display: flex;
  margin: 20px 0 30px 50px;
}

.profile__id > label {
  margin-right: 70px;
  color: #333;
  font-family: "MaruBuri-Regular";
}

.profile__name {
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
}

.profile__name > label {
  margin-right: 38px;
  color: #333;
  font-family: "MaruBuri-Regular";
}

.profile__phone {
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
}

.profile__phone > label {
  margin-right: 37px;
  color: #333;
  font-family: "MaruBuri-Regular";
}

.profile__address {
  display: flex;
  margin-left: 51px;
}

.profile__address > label {
  margin-right: 19px;
  color: #333;
  font-family: "MaruBuri-Regular";
}

.update {
  margin-top: 30px;
  width: 200px;
  margin: auto;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 5px;
}
