body {
  margin: 0;
  padding: 0;
}
.addProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

.addProduct__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 80vh;
  display: grid;
  margin-top: 100px;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto;
  border: 10px solid;
  border-image: linear-gradient(to right, #9f79e2 0%, #d863ad 100%);
  border-image-slice: 1;
  background-color: #333;
  color: #fff;
}
.addProduct__container__head h1 {
  color: #9f79e2;
}
.addProduct__container__head {
  padding-left: 36px;
  padding-top: 20px;
}
.addProduct__container__head p {
  color: #d863ad;
}
.addProduct__search {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 50px;

  /* background: rgb(121, 112, 112); */
}

.addProduct__search > input {
  height: 30px;
  width: 450px;
}

.addProduct__searchbar {
  display: flex;
}

.addProduct__searchbar > p {
  margin-right: 14px;
  color: #fff;
}

.addProduct__category {
  display: flex;
  height: 56px;
  margin-right: 160px;
  margin-left: 40px;
  margin-top: 20px;
}

.addProduct__category > select {
  height: 32px;
  border-radius: 10px;
}

.addProduct__category > p {
  margin-right: 14px;
  color: #fff;
}

.addProduct__form {
  display: flex;
  margin-left: 36px;
  margin-top: 60px;
}

.product-description {
  display: flex;
}

.product-description > label {
  padding: 10px;
}

.product-description > input {
  height: 200px;
  width: 835px;
}

.price {
  display: flex;
  margin-top: 30px;
  margin-left: 120px;
}

.price > label {
  padding-right: 10px;
}

.stock {
  margin-left: 120px;
  margin-top: 30px;
}

.stock > label {
  padding-right: 6px;
}
.inputs {
  width: 835px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0 10px;
  background-image: linear-gradient(to right, #c0bcf3 0%, #e7c8dc 100%);
}
