body {
  margin: 0;
  padding: 0;
}
.addPhoto {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
  color: #476600;
}

.addPhoto__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 80vh;
  display: grid;
  margin-top: 100px;
  padding: 70px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto;
  border: 10px solid;
  border-image: linear-gradient(45deg, #f2cb61, #bce55c);
  border-image-slice: 1;
  background-color: #fff;
  color: #476600;
}
.addPhoto__container__head h1 {
  color: #6b9900;
}
.addPhoto__container__head {
  padding-left: 36px;
  padding-top: 20px;
}
.addPhoto__container__head p {
  color: #6b9900;
}
.addPhoto__search {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 50px;
  height: 500px;

  background: #fff;
}


.picture {
  display: flex;
  margin-left: 110px;
  margin-top: 30px;
}

.picture > label {
  padding-right: 6px;
}

.addPhoto__search > button {
  margin-top: 50px;
  width: 200px;
  margin-left: 165px;
  border: 1px dotted #6b9900;
  background: #e4f7ba;
}

input {
  background: linear-gradient(45deg, #faf4c0, #e4f7ba);
  border: 1px dotted #6b9900;
}
