body {
  margin: 0;
  padding: 0;
}
.addProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #333;
}

.addProduct__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 80vh;
  display: grid;

  padding: 70px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto;
  background-color: #fff;
  color: #333;
}

.product-description_input,
.Price_input {
  background: rgba(255, 183, 85, 0.3);
}
.addProduct__container__head h1 {
  color: #333;
}
.addProduct__container__head {
  padding-left: 36px;
  padding-top: 20px;
  display: f;
}
.addProduct__container__head p {
  color: #333;
}
.addProduct__search {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  height: 500px;

  background: #fff;
}

.addProduct__input {
  height: 25px;
  background: rgba(255, 183, 85, 0.3);
  width: 280px;
  border-radius: 5px;
  border: 1px dotted #333;
}

.addProduct__search > input {
  height: 30px;
  border-radius: 5px;
  border: 1px dotted #333;
}

.addProduct__searchbar {
  display: flex;
  margin-left: 40px;
}

.addProduct__searchbar > p {
  margin-right: 20px;
  color: #333;
}

.addProduct__category {
  display: flex;
  justify-content: center;
  align-items: center;

}

.addProduct__select {
  background-color: #777;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px;
}
.addProduct__category > .addProduct__select {
  height: 28px;
  border: 1px dotted #333;
}

.addProduct__category > p {
  margin-right: 14px;
  color: #333;
}

.product-description {
  display: flex;
}

.product-description > label {
  margin-right: 10px;
}

.product-description > input {
  height: 200px;
  width: 835px;
  border-radius: 5px;
  background: rgba(255, 183, 85, 0.3);
}

.image {
  margin-top: 20px;
  margin-left: 170px;
}

.price {
  display: flex;
  margin-top: 30px;
  margin-left: 120px;
}

.price > label {
  padding-right: 10px;
  border-radius: 5px;
}
.Price_input {
  width: 280px;
  border-radius: 5px;
  border: 1px dotted #333;
}
.product-description_input {
  background: rgba(255, 183, 85, 0.3);
  border: 1px dotted #333;
  border-radius: 5px;
  margin: 15px 0;
  height: 25px;
}
.addproduct-description_input {
  background: rgba(219, 187, 141, 0.3);
  border: 1px dotted #333;
}

.addProduct__image {
  margin-left: 85px;
}

.add_fin_button {
  margin-top: 50px;
  margin-left: 160px;
  width: 300px;
  height: 50px;
  color: #fff;
  background: #333;
  border: 1px solid #777;
  border-radius: 5px;
}
