.answer_button {
  cursor: pointer;
  font-weight: bold;
}

.AnsweYetProduct__table td {
  text-align: center;
}

.question__info > h2 {
  margin-left: 50px;
  margin-top: 50px;
}
.question__info2 > h2 {
  margin-left: 50px;
  margin-bottom: 20px;
}
