.AnsweYetProduct {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AnsweYetProduct__container {
  /* background: rgb(182, 167, 167); */
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr;
  margin-top: 100px;
  background-color: #fff;
  color: #476600;
  margin-bottom: 100px;
}

.products__searchbar {
  width: 500px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.products__searchbar > .products__input {
  margin-right: 10px;
}

.products__input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  background: rgba(255, 183, 85, 0.3);
  border: 1px dotted #333;
}

.products__search {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  /* background: rgb(121, 112, 112); */
}

.datepicker_date {
  padding: 3px;
  border-radius: 5px;
}

.answer__category {
  display: flex;
  align-items: flex-start;
  margin-left: -50px;
}

.answer__category > p {
  margin-right: 10px;
}

.products__button {
  display: flex;
  align-items: center;
}

.products__search-button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  color: white;
  background: #777;
  border: 1px solid #333;
  border-radius: 5px;
}

.products__reset-button {
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.category__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: purple; */
  margin-left: 36px;
  margin-right: 36px;
}

.category__info > button {
  margin-right: 20px;
  width: 200px;
  height: 30px;
  color: aliceblue;
  background: rgb(200, 73, 73);
  font-size: medium;
}

.AnsweYetProduct__table_bg {
  /* background: wheat; */

  width:1400px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.AnsweYetProduct__table {
  width: 1400px;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(to right, #faf4c0 0%, #f1d9f5 100%);
  border: 2px solid #f2cb61;
  color: #333;
}

.AnsweYetProduct__table thead {
  background-color: #555;
  color: #ffffff;
}
.AnsweYetProduct__table th {
  border-radius: 5px;
}
.AnsweYetProduct__table th,
td {
  padding: 12px 15px;
  text-align: center;
}

.AnsweYetProduct__table tbody tr {
  border-bottom: 1px solid #c7c3c3;
}

.AnsweYetProduct__table tbody tr:nth-of-type(even) {
  background-color: #e0dede;
}

.AnsweYetProduct__table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.AnsweYetProduct__table td span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.overall_answerYet{
  display: flex;

  align-items: center;
  justify-content: center;
}