@font-face {
  font-family: "KoreanFrenchTypewriter";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.header2_container {
  display: none;
}

@media all and (max-width: 414px) {
  .header2_container {
    display: block;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  .header2 {
    height: 70px;
    background: rgba(251, 115, 137, 0.2);
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header2__logo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    color: white;
  }

  .header2__logo {
    padding-bottom: 10px;
  }

  .logo_title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 10px 0 0;
  }
  .header2_title {
    font-family: "KoreanFrenchTypewriter";
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }
}
