.order2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #eee;
  text-align: center;
}

.order__container2 {
  /* background: rgb(182, 167, 167); */
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  color: #333;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order__searchbar {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.date {
  padding: 3px;
  border-radius: 5px;
}
.date,
.order__searchbar > input {
  margin-right: 10px;
  border: 1px solid #555;
}

.order__input {
  height: 30px;
  width: 350px;
  border-radius: 5px;
  background-color: rgba(255, 183, 85, 0.3);
}

.order__search {
  display: block;

  /* background: rgb(121, 112, 112); */
}
.order__head {
  display: flex;

  align-items: center;
  justify-content: center;
}
.order__category {
  display: flex;
  align-items: center;
  width: 400px;
}

.order__category > p {
  margin-right: 10px;
  color: #333;
}

.order__button {
  display: flex;
  margin-left: 36px;
  align-items: center;
  color: #333;
}

.order__search-button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  color: white;
  background: #777;
  border: 1px solid #333;
  border-radius: 5px;
}

.order__reset-button {
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.order__info4 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: purple; */
  margin-top: 50px;
  color: #333;
}

.order__info4 > button {
  width: 200px;
  height: 30px;
  color: aliceblue;
  background: rgb(200, 73, 73);
  font-size: medium;
}

.order__table_bg {
  /* background: wheat; */
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__table {
  width: 1125px;
  background-image: linear-gradient(
    to right,
    rgba(255, 183, 85, 0.3) 0%,
    rgba(251, 115, 185, 0.2) 100%
  );
  border: 2px solid #f2cb61;
  color: #333;

  border-radius: 5px;
  text-align: center;
}

.order__table thead {
  background-color: #555;
  color: #fff;
}
.order__table th {
  border-radius: 5px;
}
.order__table th,
td {
  padding: 12px 15px;
}

.order__table tbody tr {
  border-bottom: 1px solid #c7c3c3;
}

.order__table tbody tr:nth-of-type(even) {
  background-color: #e0dede;
  color: #333;
}

.order__table tbody tr:last-of-type {
}

.order__button_and_input {
  display: flex;
}
@media all and (max-width: 414px) {
  .order__button_and_input {
    display: flex;
    width: 300px;
    margin-left: 20px;
    margin-right: 0;

    text-align: center;
  }

  .order2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #eee;
    padding-top: 0px;
  }
  .order__head {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .order__container2 {
    /* background: rgb(182, 167, 167); */
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    background-color: #fff;
    color: #333;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  .order__searchbar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .date {
    padding: 3px;
    border-radius: 0px;
  }
  .date,
  .order__searchbar > input {
    margin-left: 0;
    margin-right: 0;
  }

  .order__input {
    height: 30px;
    width: 170px;
    border-radius: 0px;
    background-color: #fff;
  }

  .order__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    width: 100%;

    /* background: rgb(121, 112, 112); */
  }

  .order__category {
    display: block;
    width: 100%;
    margin-left: 0px;
  }

  .order__category > p {
    margin-right: 0px;
    color: #333;
    width: 100%;
  }

  .order__button {
    display: block;
    color: #333;
    margin-left: 0;
    margin-right: 0;
  }

  .order__search-button {
    width: 70px;
    height: 30px;
    color: white;
    background: #777;
    border: 1px solid #333;
    border-radius: 0px;
    margin-left: 0;
    margin-right: 0;
  }

  .order__reset-button {
    display: none;
  }

  .order__info4 {
    display: block;
    color: #333;
    width: 100%;
  }
  .order__info4 h2 {
    margin-bottom: 40px;
    width: 100%;
  }
  .order__info4 > button {
    width: 200px;
    height: 30px;
    color: aliceblue;
    background: rgb(200, 73, 73);
    font-size: medium;
  }

  .order__table_bg {
    /* background: wheat; */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow-y: visible;
    overflow-x: visible;
  }

  .order__table {
    width: 100%;
    border-radius: 0px;
    background-image: linear-gradient(
      to right,
      rgba(255, 183, 85, 0.3) 0%,
      rgba(251, 115, 185, 0.2) 100%
    );
    border: 1px solid #f2cb61;
    color: #333;
    margin-left: 0px;
  }

  .order__table thead {
    background-color: #555;
    color: #fff;
  }

  .order__table tbody tr {
    border-bottom: 1px solid #c7c3c3;
  }

  .order__table tbody tr:nth-of-type(even) {
    background-color: #e0dede;
  }

  .order__product_td3 {
    height: 30px;
    font-size: 10px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
  }
  .order__product_td2 {
    height: 30px;
    font-size: 10px;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
  }
  .order__product_td1 {
    height: 30px;
    font-size: 10px;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0;
  }
  .order__table-button {
    width: 80px;
    border: 1px solid #555;
    border-radius: 0px;
    margin-top: 3px;
    color: #fff;
    background-color: #555;
    font-size: 11px;
  }
  .order__table-thead .order__th1 {
    width: 60px;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 11px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .order__table-thead .order__th2 {
    width: 25%;
    border-radius: 0px;
    font-size: 11px;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .order__table-thead .order__th3 {
    width: 60px;
    border-radius: 0px;
    font-size: 11px;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .order__product-option {
    font-size: 11px;
    width: 80px;
  }
}
