.sellerProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
  color: #fff;
}

.sellerProduct__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr;
  border: 2px solid gray;
  margin-top: 100px;
  padding-top: 100px;
  border: 10px solid;
  border-image: linear-gradient(45deg, #f2cb61, #bce55c);
  border-image-slice: 1;
  background-color: #fff;
  color: #333;
}

select {
  height: 30px;
}

input {
  height: 30px;
  width: 450px;
  margin-right: 10px;
}
.sellerProduct__searchbar > select {
  border: 1px solid #6b9900;
  margin: 10px;
  padding: 0;
}

.sellerProduct__search {
  display: flex;
  align-items: flex-end;

  /* background: rgb(121, 112, 112); */
}

.sellerProduct__searchbar {
  width: 600px;
  margin-left: 36px;
}

.sellerProduct__category {
  display: flex;
}

.sellerProduct__category > p {
  margin-right: 14px;
  color: #fff;
}

.sellerProduct__button {
  display: flex;
  margin-left: 36px;
  align-items: center;

  /* background: blue; */
}

.search-button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  color: white;
  background: rgb(200, 73, 73);
  border: 1px solid #6b9900;
}

.reset-button {
  width: 100px;
  height: 30px;
  background: white;
  border: 1px solid #6b9900;
}

.sellerProduct__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: purple; */
  margin-left: 36px;
  margin-right: 36px;
  color: #6b9900;
}

.sellerProduct__info > button {
  width: 200px;
  height: 30px;
  margin-right: 20px;
  font-size: medium;
  border: 1px dotted #6b9900;
  background: #e4f7ba;
}

.sellerProduct__table {
  /* background: wheat; */
  margin-left: 36px;
  width: 1130px;
  height: 600px;
  border: 0px solid rgb(167, 160, 160);

  margin: 0 10px;
  color: #fff;
  text-align: center;
}

table {
  width: 1125px;
}

.sellerProduct__table thead {
  background-color: #555;
  color: #ffffff;
}

.sellerProduct__table th,
td {
  padding: 12px 15px;
}

.sellerProduct__table tbody tr {
  border-bottom: 1px solid #c7c3c3;
}

.sellerProduct__table tbody tr:nth-of-type(even) {
  background-color: #e0dede;
}

.sellerProduct__table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
