* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.seller {
  display: flex;
  min-width: 1441px;
}
@media all and (max-width: 414px) {
  .seller {
    display: block;
    min-width: 100%;
  }
}
