.user {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px 1fr;
  margin-top: 100px;
  padding: 20px;
  border: 10px solid;
  border-image: linear-gradient(45deg, #f2cb61, #bce55c);
  border-image-slice: 1;
  background-color: #fff;
  color: #476600;
}

.user__searchbar {
  width: 600px;
  display: flex;
  align-items: center;
}

.user__searchbar > input {
  margin-right: 10px;
}

select {
  height: 30px;
}

input {
  height: 30px;
  width: 360px;
  padding: 2px 5px;
}

.user__search {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background: rgb(121, 112, 112); */
}

.user__category {
  display: flex;
  align-items: center;
}

.user__category > p {
  margin-right: 10px;
}

.user__button {
  display: flex;
  margin-left: 36px;
  align-items: center;
}

.search-button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  color: white;
  background: rgb(200, 73, 73);
}

.reset-button {
  width: 100px;
  height: 30px;
  background: white;
}

.user__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: purple; */
  margin-left: 36px;
  margin-right: 36px;
}

.user__info > button {
  margin-right: 20px;
  width: 200px;
  height: 30px;
  color: aliceblue;
  background: rgb(200, 73, 73);
  font-size: medium;
}

.user__table {
  /* background: wheat; */
  margin-left: 10px;
  width: 1130px;
  height: 600px;
}

table {
  width: 1125px;
  text-align: left;
}

.user__table thead {
  background-color: #555;
  color: #ffffff;
}

.user__table th,
td {
  padding: 12px 15px;
}

.user__table tbody tr {
  border-bottom: 1px solid #c7c3c3;
}

.user__table tbody tr:nth-of-type(even) {
  background-color: #e0dede;
}

.user__table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
