@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.header_container {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
}
.header {
  height: 100px;
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  color: white;
  background-color: rgba(255, 183, 85, 0.1);
  border-radius: 50%;
  margin: 10px 0 0 20px;
  padding: 3px;
}

.header__search {
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 24px;
  padding-left: 20px;
  background-color: #eee;
  margin-left: 20px;
}

.header__searchInput {
  height: 30px;
  padding: 10px;
  border: 1px solid #eceff1;
  width: 280px;
  border-radius: 24px;
  background-color: #eee;
  color: #000;
  margin-right: 5px;
}

.header__searchIcon {
  transition: all 0.3s;
  padding-right: 0px;
  margin-left: 10px;
  height: 40px !important;
  font-size: 35px;
  color: #555;

  border-radius: 25% 25% 25% 25%;
  background-color: #eee;
}

.header__searchIcon:hover {
  color: #000;
}

.header__optionLineOne {
  font-size: 10px;
  text-align: center;
  font-weight: 800;
}

.header__option .header__optionLinetwo {
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 800;
}
.header__option:hover {
  color: #000;
}

.header__optionBasket {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  color: #555;
  margin-top: 10px;
}
.header__optionBasket:hover {
  color: #000;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.header__nav {
  display: flex;
  flex: 4;
  justify-content: flex-end;
  color: white;
  padding-right: 50px;
  margin-left: -10px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  color: #555;
}

.logo_name {
  font-size: 30px;
  margin-right: 30px;
  color: #777;
}
.log_name_wap {
  display: flex;
  flex: 10;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.log {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
